.container
  width: 1235px
  margin: 10px auto
  padding-right: 3px 
  padding-left: 3px 

.card-item
  margin-top: 10px
  align-items: center
  text-align: center
  display: block
  margin: 0 auto
  width: 450px
  
  &-img-top
    width: 180px
  
  &-title
    margin-top: 10px
  
  &-text
    margin-top: 10px

// .card-item
 
