.container
  width: 1235px
  margin: 10px auto
  padding: 10px

.card-item
  margin-top: 10px
  align-items: center
  text-align: center
  display: block
  margin: 0 auto
  width: 500px
  
  &-img-top
    width: 180px
  
.card-title
    margin-top: 10px
    font-size: 30px
  
.card-text
    margin-top: 10px
    font-size: 20px


 
