@import "../../sass/variables.sass"
    
.container 
    width: 1000px
    margin: 0 auto
main
    margin-top: 40px 
.card
     width: $card-width
     &-img-top
        width: 85%
     &-link
        color: #3b3bda
        text-decoration: none
.row
    display: grid
    grid-template-columns: repeat(4,1fr)
    gap: 10px

    